{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": [
    "vue",
    "react"
  ],
//  "eslintIntegration": true,
  "ignorePath": ".prettierignore",
//  "jsxBracketSameLine": false,
//  "parser": "babylon",
  "printWidth": 90,
  "proseWrap": "preserve",
  "requireConfig": false,
  "semi": true,
  "singleQuote": true,
  "stylelintIntegration": false,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
