<app-socket *ngIf="SymbolDepth$ | async as depth" [data]="depth">
    <!--<app-symbol [item]="SymbolDepth$ | async"></app-symbol>-->
    <div class="depths">
        <div class="bids">
            <div class="bid" *ngFor="let bid of depth.bids">
                <div class="bid__value" *ngFor="let value of bid">{{ value }}</div>
            </div>
        </div>
        <div class="asks">
            <div class="ask" *ngFor="let ask of depth.asks">
                <div class="ask__value" *ngFor="let value of ask">{{ value }}</div>
            </div>
        </div>
    </div>
</app-socket>
