<div class="socket-loader">
    <div class="socket-loader__line socket-loader__line--top"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
    <div class="socket-loader__line"></div>
</div>
<div class="blur-box"></div>
