<div
    class="socket"
    [ngSwitch]="data"
    [ngClass]="{
        'socket--pending': status && status.status === statuses.pending,
        'socket--success': status && status.status === statuses.success,
        'socket--fail': status && status.status === statuses.fail
    }"
>
    <div class="socket__loader" *ngSwitchCase="null || undefined">
        <app-block-loader></app-block-loader>
    </div>
    <div class="socket__loader" *ngSwitchCase="0">
        <div class="socket__no-items"><div>There are no items</div></div>
    </div>
    <div class="socket__data" *ngSwitchDefault><ng-content></ng-content></div>
</div>
