@import 'constants'
.socket
  border: 2px solid rgba(255, 255, 255, .3)
  margin-right: $block-padding
  margin-bottom: $block-padding
  border-radius: $block-radius
  height: $block-height
  overflow: auto
  padding: $block-padding
  position: relative
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2)
  background: $block-background
  &__data, &__loader
    height: 100%
    width: 100%

