@import 'constants'
.socket
  border: 2px solid rgba(255, 255, 255, .3)
  margin: $block-padding/2
  //margin-bottom: $block-padding
  border-radius: $block-radius
  //min-height: $block-height
  max-height: $block-height+$block-padding*5
  overflow: auto
  padding: $block-padding/2
  position: relative
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .3)
  background: $block-background
  &--pending
    border: 5px solid #fff573
  &--success
    border: 5px solid #95ff86
  &--fail
    border: 5px solid #ff6c64
  &__data, &__loader
    height: 100%
    width: 100%
  &__data
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
  &__no-items
    display: flex
    justify-content: center
    align-items: center
    height: 100px
    width: 300px

