<app-block
    [data]="Balance && lastPrice$ | async"
    [statuses]="{
        success: ORDER_STATUSES.FILLED,
        pending: ORDER_STATUSES.NEW,
        fail: ORDER_STATUSES.FAIL
    }"
    [status]="Status$ | async"
>
    <app-trade-form
        [action]="action"
        [symbol]="Symbol$"
        [balanceSymbol]="BalanceSymbol"
        [titleSymbol]="TitleSymbol"
        [status]="Status$ | async"
        [price]="lastPrice$ | async"
        (trade)="submit($event)"
        [balance]="Balance"
    ></app-trade-form>
</app-block>
