<app-block [data]="true">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login">
            <mat-form-field>
                <input matInput placeholder="Login" formControlName="login" />
            </mat-form-field>
        </div>
        <div class="password">
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" />
            </mat-form-field>
        </div>
        <div class="buttons">
            <app-button [type]="'submit'" [disabled]="!loginForm.valid">Login</app-button>
        </div>
    </form>
</app-block>
